<!-- 
    @Name: OpportunityMatchingProjectPage
    @Description: This page would be an inline visualforce page on Opportunity detail page. 
    This would prompt end users to choose the matching project if left blank.
    
    @Author: Peeyush Awadhiya
    @Date: 07/18/2014
-->


<apex:page standardController="Opportunity" extensions="OpportunityProjectPickerPageExtension" >
    <html >
        <head>
            <meta charset="utf-8"/>
                <title>jQuery UI Dialog - Default functionality</title>
                <link rel="stylesheet" href="//code.jquery.com/ui/1.10.4/themes/smoothness/jquery-ui.css"/>
                <script src="//code.jquery.com/jquery-1.10.2.js"></script>
                <script src="//code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
                <link rel="stylesheet" href="/resources/demos/style.css"/>


            <script>
                
                $j = jQuery.noConflict();
                $j('head').append('<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css" type="text/css" />');
                var __showPopup = {!showPopup};
                var __responseStr = 'Matching projects found. Would you like to review?'
                var __opportunityId = '{!Id}';
                var __projectPickerPageURL = '{!projectPickerPageURL}';
                var __showAltPopup = {!showAltPopup};
                var __opportunityPageURL = '{!opportunityPageURL}';
                
                if(__showPopup == true){
                    displayPopup();       
                }
                else if(__showAltPopup == true) {
                    displayAltPopup();
                }
                
                function checkPopupViewed(__api){
                    OpportunityProjectPickerPageExtension.checkPopupViewed(__opportunityId,__api,handleDelete); 
                }
                
                function handleDelete(result, event) {
                    if(event.type == 'error') {
                        alert(event.message);
                    }
                } 
                
                function redirectToProjectPicker(){
                    window.top.location.href = __projectPickerPageURL;     
                }
                
                function createProbationaryProject(){
                    OpportunityProjectPickerPageExtension.createProbationaryProject(__opportunityId,handleDelete); 
                    window.top.location.href = __opportunityPageURL;
                }
                
                function displayAltPopup(){
            
                    $j(function() {
                        __responseStr =  'No Projects Found. Create a new Project?';
                        var __validationMsg = $j('<div id="MyDialog">\<P>'+__responseStr+'</P>\</div>');
                        $j( __validationMsg).dialog(
                            { 
                                buttons: [ 
                                             { 
                                                 text: "Yes", click: function() { 
                                                     $j( this ).dialog( 'close' ); 
                                                     createProbationaryProject();
                                                 } 
                                             
                                             }, 
                                             { 
                                                 text: "No", click: function() { 
                                                     $j( this ).dialog( 'close' ); 
                                                     checkPopupViewed('No_Matching_Projects__c');
                                                 } 
                                             
                                             }
                                         ]
                                
                            }
                
                        );
                        
                    });
                }
                
                function displayPopup(){
            
                    $j(function() {
                        var __validationMsg = $j('<div id="MyDialog">\<P>'+__responseStr+'</P>\</div>');
                        $j( __validationMsg).dialog(
                            { 
                                buttons: [ 
                                             { 
                                                 text: "Yes", click: function() { 
                                                     $j( this ).dialog( 'close' ); 
                                                     redirectToProjectPicker();
                                                 } 
                                             
                                             }, 
                                             { 
                                                 text: "No", click: function() { 
                                                     $j( this ).dialog( 'close' ); 
                                                     checkPopupViewed('Popup_Viewed__c');
                                                 } 
                                             
                                             }
                                         ]
                                
                            }
                
                        );
                        
                    });
                }
                
            </script> 
        </head>
    </html> 
</apex:page>